doctype html
html
    include ./includes/head.jade
    body
        div.wrap
            include ./includes/header.jade
        div.container
        footer
            include ./includes/footer.jade
        div.mockup-overlay
            img(src='images/mockup.jpg')