doctype html
html
    include ./includes/head.jade
    body
        div.wrap
            include ./includes/header.jade
            include ./includes/content.jade
        div.scroll
        footer
            include ./includes/footer.jade
        div.mockup-overlay
            img(src='images/mockup.jpg')
        script(src='../bower_components/jquery/dist/jquery.min.js')
        script(src='scripts/main.js')
