footer
  //background: url("../images/footer-pattern.png")
  height: 228px
  margin-top: -228px
  margin-bottom: -228px
  border-bottom: 1px solid red
.logo__image
  display: inline-block
  float: left
.logo__image_small
  position: relative
  top: 99px
.links
  position: relative
  top: 72px
  float: right
.stores
  margin-bottom: 23px
.apple
  margin-right: 5px
.social__link_big
  margin-right: 16px
  width: 36px
  height: 36px
  background-size: 36px 36px