html,
body,
.wrap
  height: 100%
body > .wrap
  height: auto
  min-height: 100%
.container
  //padding-top: 39px
  //padding-bottom: 100px
  height: 765px
body
  font-family: elektra_light_proregular
@import header
@import footer

.cf:before,
.cf:after
  content: " "
  display: table
.cf:after
  clear: both
.mockup-overlay
  top: 0
  position: absolute
  z-index: -1
  opacity: 0.4