table.cart__filling
    tr.cart__item
        td.cart__item_image.cart__item_image_iphone
        td.cart__item_name
            a(href='#').cart__item-link.cart__item-link_iphone iPhone 6
    tr.cart__item
        td.cart__item_image.cart__item_image_ipad
        td.cart__item_name
            a(href='#').cart__item-link.cart__item-link_ipad iPad Air Wi-Fi + Cellular 128GB - Silver
    tr.cart__item
        td.cart__item_image.cart__item_image_macbook
        td.cart__item_name
            a(href='#').cart__item-link.cart__item-link_macbook Macbook Air