header.head
    div.top-section
        div.content
            include socials.jade
            div.phone
                a(href='tel:+79213221232').phone__number
                    span.phone__code +7 (921)
                    span.phone__number 322 12 32
            div.address-wrap
                span.address г. Москва, ул. Новая 246, офис 214
    div.middle-section
        div.content
            div.logo
                a(href='#').logo__link
                    img(src='images/logo_big.png' alt='logo').logo__image
            div.search
                form.search__form
                    input(type='text', placeholder='iMac 27 дюймов').search__input
                    input(type='submit' value='Поиск').search__submit
            a(href='#').map-link Карта проезда
            a(href='#').order-history История заказов
            div.cart
                a(href='#').cart__link Корзина (3)
                include cart.jade
    div.bottom-section
        div.content
            - var catalog = [{name:'Мобильные телефоны', link:'#'}, {name:'Планшеты',link:'#'},{name:'Мр3 плееры',link:'#'},{name:'Персональные компьютеры', link:'#'},{name:'Ноутбуки', link:'#'},{name:'Apple TV',link:'#'},{name:'Аксессуары',link:'#'}]
            nav.catalog
                each item in catalog
                    if item.name == 'Планшеты'
                        li.catalog__item.catalog__item_active
                            a(href=item.link target='blank').catalog__link=item.name
                    else
                        li.catalog__item
                            a(href=item.link target='blank').catalog__link=item.name