header.head
    div.top-section
        div.content
            include socials.jade
            div.phone
                span.phone__code +7 (921)
                span.phone__number 322 12 32
            div.address-wrap
                span.address г. Москва, ул. Новая 246, офис 214
    div.middle-section
        div.content
            div.logo
                img(src='images/logo_big.png').logo__image
            div.search
                form.search__form
                    input(type='text', placeholder='iMac 27 дюймов').search__input
                    input(type='submit' value='Поиск').search__submit
            a(href='map.html').map-link Карта проезда
            a(href='history.html').order-history История заказов
            div.cart
                a(href='cart.html').cart__link Корзина (3)
    div.bottom-section
        div.content
            - var catalog = [{name:'Мобильные телефоны', link:'mobile.html'}, {name:'Планшеты',link:'tablets.html'},{name:'Мр3 плееры',link:'mp3.html'},{name:'Персональные компьютеры', link:'PC.html'},{name:'Ноутбуки', link:'notebook.html'},{name:'Apple TV',link:'appletv.html'},{name:'Аксессуары',link:'accessoreies.html'}]
            nav.catalog
                each item in catalog
                    if item.name == 'Планшеты'
                        li.catalog__item.catalog__item_active
                            a(href=item.link target='blank').catalog__link=item.name
                    else
                        li.catalog__item
                            a(href=item.link target='blank').catalog__link=item.name