html,
body,
.wrap {
  height: 100%; }

body > .wrap {
  height: auto;
  min-height: 100%; }

.container {
  height: 765px; }

body {
  font-family: elektra_light_proregular; }

.head {
  margin-bottom: 20px;
  min-width: 1000px; }

.top-section {
  height: 41px;
  line-height: 41px;
  background: #44626e; }

.content {
  width: 1000px;
  margin: 0 auto; }

.social {
  margin: 0;
  padding: 0;
  float: left; }

.social__item {
  list-style: none;
  display: inline-block; }

.social__link {
  display: inline-block;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  vertical-align: middle;
  margin-right: 10px;
  box-shadow: 0px 4px 6.86px 0.14px rgba(13, 16, 7, 0.29); }

.social__link_VK {
  background: url("../images/VK_big.png") no-repeat;
  background-size: 22px 22px; }

.social__link_FB {
  background: url("../images/FB_big.png") no-repeat;
  background-size: 22px 22px; }

.social__link_TW {
  background: url("../images/TW_big.png") no-repeat;
  background-size: 22px 22px; }

.address-wrap {
  font-size: 13px;
  display: block;
  width: 242px;
  margin: 0 auto;
  height: 41px; }

.address {
  color: #fff;
  display: block;
  height: 41px;
  width: 100%;
  padding-left: 25px;
  background: url("../images/map_pointer.png") left 43% no-repeat; }

.phone {
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 25px;
  padding-top: 3px;
  height: 38px; }

.phone__code {
  position: relative;
  bottom: 8px;
  right: 7px;
  color: #00b9fe;
  display: inline-block;
  font-family: elektra_light_probold;
  font-size: 14px; }

.phone__number {
  color: #fff;
  text-decoration: none; }

.middle-section {
  background: #e7eef5;
  height: 98px;
  line-height: 95px; }

.logo {
  display: inline-block;
  float: left;
  margin-right: 60px; }

.logo__image {
  margin-top: 24px;
  margin-left: 1px; }

.logo__link {
  text-indent: -99999px; }

.search {
  display: inline-block;
  float: left;
  margin-right: 25px;
  margin-top: 3px; }

.search__input {
  height: 31px;
  line-height: 31px;
  width: 248px;
  border: 1px solid #dce6f0;
  border-right: none;
  padding-left: 10px; }
  .search__input::-webkit-input-placeholder {
    font-size: 15px;
    color: #dce6f0; }
  .search__input::-moz-placeholder {
    font-size: 15px;
    color: #dce6f0; }
  .search__input:-moz-placeholder {
    font-size: 15px;
    color: #dce6f0; }
  .search__input:-ms-input-placeholder {
    font-size: 15px;
    color: #dce6f0; }

.search__submit {
  display: inline-block;
  height: 35px;
  width: 80px;
  padding: 0;
  border: none;
  font-family: elektra_light_probold;
  color: #fff;
  font-size: 17px;
  background: #00b9fe; }

.map-link,
.order-history,
.cart__link {
  display: inline-block;
  color: #00b9fe;
  float: left;
  font-size: 13px;
  margin-top: 3px; }
  .map-link:hover,
  .order-history:hover,
  .cart__link:hover {
    color: #613993; }

.map-link {
  margin-right: 20px; }

.cart {
  display: inline-block;
  float: right;
  margin-top: 26px;
  width: 137px;
  height: 42px;
  border: 1px solid #dce6f0;
  background: #fff;
  text-align: center;
  position: relative; }

.cart__link {
  width: 87px;
  text-align: left;
  color: #5c7b98;
  line-height: 42px;
  padding-left: 50px;
  background: url("../images/cart.png") 10% 38% no-repeat; }

.bottom-section {
  background: #f7f7f7;
  height: 40px;
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1); }

.catalog {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0; }

.catalog__item {
  list-style: none;
  display: inline-block;
  background: #f7f7f7;
  height: 40px;
  line-height: 40px; }
  .catalog__item:first-child .catalog__link {
    padding-left: 23px; }
    .catalog__item:first-child .catalog__link:before {
      border: none;
      display: none; }
  .catalog__item:last-child .catalog__link {
    padding-right: 0; }
    .catalog__item:last-child .catalog__link:after {
      border: none; }

.catalog__link {
  display: inline-block;
  color: #5c7b98;
  position: relative;
  font-size: 15px;
  padding: 2px 10px 0 8px;
  margin-right: 21px;
  text-decoration: none; }
  .catalog__link:before, .catalog__link:after {
    content: "";
    position: absolute;
    top: 0;
    box-sizing: border-box;
    border: 1px solid #f7f7f7;
    border-width: 20px 13px;
    width: 0;
    height: 0; }
  .catalog__link:before {
    left: -19px;
    border-left-color: transparent;
    filter: drop-shadow(-1px 0px 0px white); }
  .catalog__link:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #f7f7f7;
    filter: drop-shadow(1px 0px 0px #dae1eb); }

.catalog__item_active {
  background: #00b9fe; }
  .catalog__item_active .catalog__link {
    color: white; }
    .catalog__item_active .catalog__link:before, .catalog__item_active .catalog__link:after {
      border: 0px solid #00b9fe;
      border-width: 20px 13px; }
    .catalog__item_active .catalog__link:before {
      border-left-color: transparent; }
    .catalog__item_active .catalog__link:after {
      border-color: transparent;
      border-left-color: #00b9fe; }

.catalog__item:hover {
  background: #dce6f0; }
  .catalog__item:hover .catalog__link:before, .catalog__item:hover .catalog__link:after {
    border: 0px solid #dce6f0;
    border-width: 20px 13px; }
  .catalog__item:hover .catalog__link:before {
    border-left-color: transparent; }
  .catalog__item:hover .catalog__link:after {
    border-color: transparent;
    border-left-color: #dce6f0; }

.catalog__item_active:hover {
  background: #00b9fe; }
  .catalog__item_active:hover .catalog__link {
    color: white; }
    .catalog__item_active:hover .catalog__link:before, .catalog__item_active:hover .catalog__link:after {
      border: 0px solid #00b9fe;
      border-width: 20px 13px; }
    .catalog__item_active:hover .catalog__link:before {
      border-left-color: transparent; }
    .catalog__item_active:hover .catalog__link:after {
      border-color: transparent;
      border-left-color: #00b9fe; }

footer {
  background: url("../images/footer-pattern.png");
  height: 228px;
  margin-top: -228px;
  margin-bottom: -228px;
  min-width: 1000px; }

.logo__image {
  display: inline-block;
  float: left; }

.logo__image_small {
  position: relative;
  top: 99px; }

.links {
  position: relative;
  top: 72px;
  float: right; }

.stores {
  margin-bottom: 23px; }

.apple {
  margin-right: 5px; }

.social__link_big {
  margin-right: 16px;
  width: 36px;
  height: 36px;
  background-size: 36px 36px; }

.navigation {
  position: relative;
  top: 60px;
  left: 44px;
  width: 570px;
  margin: 0 auto; }

.nav-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 72px; }

.nav-list__item {
  list-style: none;
  font-size: 15px;
  margin-bottom: 7px; }

.nav-list_header {
  margin: 0;
  color: white;
  font-family: elektra_light_probold;
  font-size: 15px;
  margin-bottom: 7px; }

.nav-list__link {
  color: white; }

.cart__filling {
  display: none;
  background: white;
  width: 244px;
  height: 228px;
  border: 1px solid #dce6f0;
  position: absolute;
  top: 43px;
  right: -2px;
  line-height: 15px;
  text-align: left;
  z-index: 10;
  border-collapse: collapse; }

.cart__item {
  height: 75px; }
  .cart__item:nth-child(even) {
    border-bottom: 1px solid #dce6f0;
    border-top: 1px solid #dce6f0;
    background: #f8fafb; }

.cart__item_image {
  padding: 0;
  width: 83px;
  height: 75px; }

.cart__item_image_iphone {
  background: url("../images/iphone.jpg") center center no-repeat; }

.cart__item_image_ipad {
  background: url("../images/ipad.jpg") center center no-repeat; }

.cart__item_image_macbook {
  background: url("../images/macbook.jpg") center center no-repeat; }

.cart__item-link {
  color: #00b9fe;
  font-size: 13px; }

.breadcumbs {
  margin-bottom: 18px; }

.breadcumbs__link {
  font-size: 14px;
  margin-right: 2px;
  color: #00b9fe; }

.breadcumbs__divider {
  font-size: 10px;
  margin-right: 5px; }

.breadcumbs__link_active {
  color: #5c7b98; }

.content--main {
  padding-bottom: 228px; }

.shop-item {
  display: block;
  margin-bottom: 63px; }

.slider {
  position: relative;
  display: inline-block;
  float: left;
  width: 300px;
  height: 325px;
  margin-right: 25px;
  padding-top: 12px; }

.description {
  display: inline-block;
  float: left; }

.description__header {
  margin: 0;
  font-family: elektra_light_probold;
  font-size: 25px;
  color: #00b9fe;
  margin-bottom: 25px; }

.description__list {
  margin: 0;
  border-collapse: collapse; }

.description__term {
  width: 245px;
  padding-left: 11px;
  color: #5c7b98; }

.description__definition {
  width: 187px;
  color: #5c7b98; }

.description__item {
  height: 28px;
  font-size: 14px; }
  .description__item:nth-child(even) {
    background: #eef2f4; }

.next,
.prev {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  background: #d0e4f3;
  color: white;
  text-align: right;
  text-decoration: none;
  margin-right: 20px;
  padding-top: 3px;
  bottom: 54px;
  left: 8px;
  font-family: elektra_light_probold;
  cursor: pointer; }
  .next:after,
  .prev:after {
    content: "";
    position: absolute;
    top: 0;
    box-sizing: border-box;
    border: 1px solid #d0e4f3;
    border-width: 18px 8px;
    width: 0;
    height: 0;
    left: 100%;
    border-color: transparent;
    border-left-color: #d0e4f3; }
  .next:hover,
  .prev:hover {
    background: #00b9fe; }
    .next:hover:after,
    .prev:hover:after {
      border: 1px solid #00b9fe;
      border-width: 18px 8px;
      border-color: transparent;
      border-left-color: #00b9fe; }

.prev {
  transform: rotate(180deg); }

.next {
  left: 240px; }

.trigger__wrap {
  overflow: hidden;
  width: 243px;
  margin: 0 auto; }

.trigger {
  overflow: hidden;
  padding: 0;
  width: 1000px;
  position: relative;
  left: 0;
  height: 75px;
  margin: 0 auto;
  transition: 0.3s; }

.trigger__slide {
  list-style: none;
  display: inline-block; }

.trigger__image {
  max-width: 75px;
  max-height: 75px; }

.slide {
  margin-bottom: 8px;
  min-height: 242px;
  position: relative; }

.slide__image {
  display: block;
  position: absolute;
  height: 240px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto; }

.info {
  margin-bottom: 70px; }

.info__header {
  font-family: elektra_light_probold;
  font-size: 25px;
  color: #5c7b98;
  margin: 0 0 7px; }

.trigger__slide {
  padding-left: 9px; }
  .trigger__slide:first-child {
    padding-left: 0; }

.info__text {
  margin: 0;
  font-size: 15px;
  color: #5c7b98;
  line-height: 20px;
  column-gap: 42px;
  column-count: 3; }

.scroll {
  display: none;
  cursor: pointer;
  width: 77px;
  height: 34px;
  text-align: center;
  background: #00b9fe;
  position: fixed;
  bottom: 252px;
  right: 10px;
  font-family: elektra_light_probold;
  font-size: 17px;
  color: white; }
  .scroll:after, .scroll:before {
    content: " ";
    width: 0;
    position: relative;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #00b9fe; }
  .scroll:after {
    bottom: 66px; }
  .scroll:before {
    top: 8px;
    border-bottom: 5px solid white; }

.scroll__inner {
  margin-top: -15px;
  height: 100%;
  width: 100%; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.mockup-overlay {
  top: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.4; }

/*# sourceMappingURL=main.css.map */
